html { 
    background-image : url("/static/img/summer-4181783_1280.png");
}

body {
    margin:auto;
    border:1px solid;
    max-width:1200px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 5px 2px #fff;
}

td,th{
    margin:10px;
    padding:10px;
    word-wrap: word-break;
}

table {
    table-layout: fixed;
    overflow-x:auto;
}