{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css"/>

<body>
    <div class="bg-success table-bordered" style="color:white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;padding:10px;">
        <h1>📚 What Books</h1>
        <h2>Find your Favorite Book Here</h2>
    </div>
    <center/>
    
    <div class="bg-dark" style="padding:10px;">
        <input style="border:1px solid yellowgreen;padding:5px;" type="text" placeholder="Search" aria-label="Search" id="q" onkeyup="search_book()">
        <button class="btn btn-success" id="search" onclick="search_book()">🔍</button>
    </div>
    <br/>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" id="btn_top5" onclick="getTopBooks()">
🏆 5 Most Liked Books
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">5 Most Liked Books</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="top_content" style="text-align:left;">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<hr/>

    <table class="table-bordered" id="tabel">
        <thead>
            <tr id="table_header" class="bg-success" style="color:white;">
                <th>Preview</th>
                <th>Title</th>
                <th>Publisher</th>
                <th>Description</th>
                <th>Like</th>
            </tr>
        </thead>
        <tbody id="table_body">

        </tbody>
    </table>
</body>

<script>
function getTopBooks(){
    list = [];
    counts = document.getElementsByName("like_count");
    for (i=0;i<counts.length;i++){
        ids = counts[i].id;
        list.push({title : document.getElementsByName(ids)[0].innerHTML , likes : counts[i].innerHTML});
    }
    //Sort
    list.sort(function(a,b) {
        return b.likes - a.likes;
    });
    //Construct string for modals
    str = "";
    for (i=0;i<5;i++){
        str += "<li/>" + list[i].title + " ( " + list[i].likes + " Likes ) ";
    }
    top_content.innerHTML = str;
}

function getLikes(x){
    try{
        $.ajax({
            url: "/api?q=" + x,
            dataType: "json",
            success: function(data) {
                document.getElementById(x).innerHTML = (data);
            },
            type: 'GET'
        });
    }catch (e){
        document.getElementById(x).innerHTML = 0;
    }
}

function nullHandler(x){
    return (x == undefined)?"-":x;
}

function like(x,index){
    document.getElementsByName("like_count")[index].innerHTML = parseInt(document.getElementsByName("like_count")[index].innerHTML) + 1;
    $.get("/api?id=" + x, function(data, status){
        //alert(data);
    });
}

function reset(){
    for (i=1;i<document.getElementsByTagName("tr").length;i++){
        tabel.deleteRow(i);
    }
}

function search_book(){
    query = q.value.replace(" ","+");

    if (query == ""){
        return reset();
    }

    reset();
    $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes?q=" + query,
            dataType: "json",
            success: function(data) {
                for (i = 0; i < data.items.length; i++) {
                    book = tabel.insertRow(i+1);

                    preview = book.insertCell(0);
                    preview.innerHTML = "<img src='{url}'></img>".replace("{url}",data.items[i]['volumeInfo']['imageLinks']['thumbnail']);                    

                    title = book.insertCell(1);
                    title.innerHTML = "<b name='" + data.items[i]['id'] + "'>" + data.items[i]['volumeInfo']['title'] + "</b>";

                    publisher = book.insertCell(2);
                    publisher.innerHTML = nullHandler(data.items[i]['volumeInfo']['publisher']) + " ; " + nullHandler(data.items[i]['volumeInfo']['publishedDate']);
                
                    description = book.insertCell(3);
                    description.innerHTML = nullHandler(data.items[i]['volumeInfo']['description']);

                    like_col = book.insertCell(4);
                    book_id = '"' + data.items[i]['id'] + '"'
                    like_col.innerHTML = "<b name='like_count' id='" + data.items[i]['id'] + "'>0</b> Likes <br/> <button onclick='like(" + book_id + "," + i + ")' class='btn btn-success' name='like_btn'>Like 👍</button>";
                    getLikes(data.items[i]['id']); 
                }
            },
            type: 'GET'
        });
}
</script>